// style.css
// 2016-05-01 K.OHWADA @ FabLab Kannai
button {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
}
button.off {
    color: #888888;  // gray
}
button.on {
    color: #000000;  // black
}
